@mixin form-field(
    $flex-direction: column,
    $align-items: null,
    $justify-content: null,
    $label-flex: null,
    $label-flex-sm: $label-flex,
    $input-flex: null,
    $input-flex-sm: $input-flex
) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;

    label {
        flex: $label-flex;

        @include max-bp(sm) {
            flex: $label-flex-sm;
        }
    }

    input {
        flex: $input-flex;

        @include max-bp(sm) {
            flex: $input-flex-sm;
        }
    }
}

@mixin form-field-wrapper() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@mixin form-navigation() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
