<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{@ documentTitle @}</title>
    <style>
      [v-cloak] {
        opacity: 0;
      }
    </style>
  <body v-cloak>
    <nav-base>
        <nav-link name="Home" url="/"></nav-link>
        <nav-link name="Blokken" url="blokken.html"></nav-link>
    </nav-base>
    <main-base>
      {% block content %}{% endblock %}
    </main-base>
  </body>
</html>