<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{@ documentTitle @}</title>
    <style>
      [v-cloak] {
        opacity: 0;
      }
    </style>
  </head>
  <body v-cloak>
    <nav-base>
        <nav-item name="Blokken" url="blokken.html"></nav-item>
        <nav-item name="Over">
          <nav-sub-item name="Mijn Visie" url="#"></nav-sub-item>
          <nav-sub-item name="Beautiful Kids" url="#"></nav-sub-item>
          <nav-sub-item name="Mijn Werk" url="#"></nav-sub-item>
        </nav-item>
        <nav-item name="Home" url="/"></nav-item>
    </nav-base>
    
    <header-base image-url="https://via.placeholder.com/300x150" image-alt="image" title="This is a header">
    </header-base>

    <main-base>
      {% block content %}{% endblock %}
    </main-base>
  </body>
</html>